---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | David Garcia" description="About David Garcia">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos de moi"
				tagline="Mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/meBW.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						"J'ai un parcours atypique", vous avez déjà entendu cela avant n'est-ce pas ? C'est d'ailleurs parfois exagéré. 
						Mais mon cas en est une parfaite illustration ! Après des études de biologie, je décide de me 
						professionnaliser en tant que musicien, jusqu'à mener mon propre projet. Puis j'enseigne les musiques
						actuelles dans une structure d'éducation populaire. Finalement, la passion du développement me
						rattrappe et je commence à me former à la programmation en autodidacte, puis j'intègre une formation
						diplômante de Développeur d'application en Java chez OpenClassrooms.
					</p>
					<p>
						Ma formation étant 100% en ligne, j'ai développé une capacité de travail indispensable à ce cadre particulier.
						Par ailleurs, bien que junior en tant que développeur, j'ai une solide expérience du travail en équipe
						comme du travail en autonomie.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplôme</h2>
				<div class="content">
					<p>BAC+4 Concepteur développeur d'applications (RNCP niveau 6) en cours d'obtention (pour l'été 2024).</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Créatif, rigoureux, curieux et autonome</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
